@font-face {
    font-family: 'HWTArtz';
    src: url('../fonts/HWTArtz-Regular.woff2') format('woff2'),
        url('../fonts/HWTArtz-Regular.woff') format('woff'),
        url('../fonts/HWTArtz-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* ============ */

body{font-family: 'Roboto', sans-serif; font-size: 16px; color: #fff; background-color: #0d4375;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
.mob{display: none;}
textarea, input:focus{outline: none;}
img{max-width: 100%; height: auto; display: block;}

b, strong, h1, h2, h3, h4{font-weight: 700;}
.padding{padding: 60px 0px;}

.img100 img, img.img100{width: 100%; height: auto;}

h1{font-family: 'HWTArtz'; font-size: 38px; letter-spacing: 2px; padding: 20px 0px 20px;}
article p{padding-bottom: 20px; line-height: 1.6em;}

/* 
	HEADER
	============ 
*/

.navbar-nav{width: 100%; justify-content: flex-end;}
.navbar-dark .navbar-nav .nav-link{color: #fff; text-transform: uppercase; font-family: 'HWTArtz'; font-size: 22px; margin: 5px 15px; letter-spacing: 1px;}

.bt{cursor: pointer;}
.bt:hover{opacity: 0.9;}

.titulo{padding-bottom: 50px; margin-top: -20px; text-align: center;}

/* 
	HOME
	============ 
*/

#arvore {text-align: center;}
#arvore .linha{background: url(../images/base.png) repeat-x bottom center;}
.compartilhar{text-align: center; font-family: 'HWTArtz'; font-size: 38px; letter-spacing: 2px; padding-top: 60px;}
.compartilhar .texto{line-height: 1.1em; padding-bottom: 30px;}
.compartilhar a:hover{opacity: 0.7;}
.compartilhar .botao img {
    display: inline-block;
}

.formulario{padding-top: 0px;}
.formulario h2{text-align: center; font-family: 'HWTArtz'; font-size: 30px; letter-spacing: 2px;}
.formulario .sub-dir{font-size: 12px;}
.formulario label{font-family: 'HWTArtz'; font-size: 22px; letter-spacing: 1px;}
.formulario .botao{padding-top: 30px; text-align: center;}
.formulario .botao button{padding: 5px 20px; border-radius: 5px; font-size: 18px; text-transform: uppercase; color: #fff; background-color: #00b2d1; border: none; margin-bottom: 15px;}

.comp_face{padding: 30px 0px 50px; text-align: center;}
.comp_face a{padding: 10px 25px; border-radius: 50px; font-size: 16px; text-transform: uppercase; color: #0d4375; background-color: #fff; border: none; margin-bottom: 15px; text-transform: uppercase;}
.comp_face a i{font-size: 20px;}
.comp_face a:hover{opacity: 0.7;}

/* 
	OUTRAS
	============ 
*/

.box{width: 340px; position: absolute; z-index: 9; display: none;}
.box .box-meio{background: url(../images/box-meio.png);}
.box .box-meio .conteudo{width: 270px; margin: auto; display: table; font-family: 'HWTArtz'; line-height: 1.2em; letter-spacing: 1px;}
.box .box-meio .conteudo .foto{float: left; margin: 0px 15px 0px 0px; max-width: 70px;}
.box .box-meio .conteudo .foto img{border-radius: 100px;}
.box .box-meio .conteudo .nome{color: #ffef04;}


.interna .item {display: flex; padding-bottom: 25px; margin-bottom: 25px; border-bottom: 1px solid #fff;}
.interna .item .foto{padding-right: 20px;}
.interna .item .foto img{max-width: 100px; border-radius: 100px;}
.interna .item h2{color: #ffef04;}

.busca{padding-bottom: 30px;}
.busca #s{border-radius: 5px; border: none; height: 28px;}
.busca #searchsubmit{border-radius: 5px; border: none; text-transform: uppercase; color: #fff; background-color: #00b2d1; font-size: 12px; font-weight: 700; height: 28px;}

/* 
	FOOTER
	============ 
*/

footer{padding: 60px 0px 30px;}
.right{text-align: right;}
footer .redes a{display: inline-block; background: #265581; border-radius: 40px; font-size: 18px; width: 30px; height: 30px; color: #fff; padding: 2px 0px 0px 7px; margin: 0px 4px;}
footer .redes a.face{padding: 2px 0px 0px 9px;}
footer .redes a.tube{padding: 2px 0px 0px 5px;}
footer .redes a:hover{opacity: 0.7;}


.loading{width: 100%; height: 100%; position: fixed; background: rgba(255,255,255,0.9); top: 0; z-index: 999; display: none;}
.loading .gif{position: relative; top: 50%; left: 50%;}
.loading .gif img{width: 100px; height: auto; margin-top: -50px; margin-left: -50px;}

/* ============ */

@media screen and (max-width: 1300px) {
}

/* ============ */

@media screen and (max-width: 1200px) {
	#arvore .linha{background: url(../images/base7.png) repeat-x bottom center;}
}

/* ============ */

@media screen and (max-width: 990px) {
	#arvore .linha{background: url(../images/base5.png) repeat-x bottom center;}
	header nav .row{justify-content: space-between;}
	.navbar-nav {text-align: right;}
	.navbar-dark .navbar-toggler{border:none;}
}

/* ============ */

@media screen and (max-width: 767px) {
	#arvore .linha{background: url(../images/base4.png) repeat-x bottom center;}
	.desk{display: none;}
	.mob{display: block;}
}

/* ============ */

@media screen and (max-width: 575px) {
	/*#arvore .linha{background: url(../images/base.png) repeat-x bottom center; background-size: contain;}*/
	#arvore .linha{background: transparent;}
	#arvore .linha .container{padding-left: 0px; padding-right: 0px;}

	footer .right, footer{text-align: center;}
	footer .col-12{padding: 20px 0px;}

	footer .redes a {padding: 2px 0px 0px 0px;}
	footer .redes a.tube {padding: 2px 0px 0px 1px;}
	footer .redes a.face {padding: 2px 0px 0px 0px;}

	.navbar-dark .navbar-brand{max-width: 120px;}
	.compartilhar {font-size: 24px;}
	.compartilhar .botao img {max-width: 55%;}

	.formulario .imagem{max-width: 100%; overflow: hidden;}
	.formulario .imagem .filebut input{width: 100%; word-break: break-all;}

	.titulo {font-size: 12px;}
}

/* ============ */

@media screen and (max-width: 460px) {
}





